{% extends 'base.html.twig' %}

{% block title %}Tous les Articles!{% endblock %}

{% block content %}
    <h1 class="text-center mt-2">Voir tous les Articles</h1>
        {% for article in articles %}
            <div class="d-flex justify-content-center">
                <div class="card mt-2" style="width: 25rem;">
                    <div class="card-body">
                        <h3 class="card-title text-center">{{ article.title }}</h3>
                        <p class="text-muted text-center">Crée le {{ article.date | date("d/m/y à h:i") }}</p>
                        <p class="card-title text-center">{{ article.content | striptags | slice(0,100) }}</p>
                        <div class="btn group mr-2 w-100">
                            <a class="btn btn-dark" href="{{ path('showOneArticle', {'idArticle': article.idArticle}) }}"
                               role="button">Lire l'article</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock %}
