{% extends 'base.html.twig' %}

{% block title %}Un Auteur!{% endblock %}

{% block content %}

    {% block auteur %}
        <div class="d-flex justify-content-center">
            <div class="card mt-2" style="width: 25rem;">
                <div class="card-body">
                    <h3 class="card-title text-center">{{ auteur.firstname }} {{ auteur.lastname }}</h3>
                    <div class="btn group mr-2 w-100">
                        <a class="btn btn-dark " href="{{ path('deleteAuteur', {'idAuteur': auteur.idAuteur}) }}" role="button">Delete
                            Auteur</a>
                        <a class="btn btn-dark text-center" href="{{ path('updateAuteur', {'idAuteur': auteur.idAuteur}) }}"
                           role="button">Update
                            Auteur</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
