{% extends 'base.html.twig' %}

{% block title %}Hello AuteurController!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <div>
        <form class="d-flex justify-content-center m-5">
            <a class="btn btn-dark mr-2" href="{{ path('showAllAuteur') }}" role="button">Afficher la liste des auteurs</a>
        </form>
    </div>
</div>
<div class="example-wrapper">
    <div>
        <form class="d-flex justify-content-center m-5">
            <a class="btn btn-dark mr-2" href="{{ path('createAuteur') }}" role="button">Creation d'auteur</a>
        </form>
    </div>
</div>
{% endblock %}
