{% extends 'base.html.twig' %}

{% block title %}Delete Auteur!{% endblock %}

{% block content %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="example-wrapper">
    <div>
        Ici tu delete l'auteur {{ idAuteur}}
    </div>
</div>
{% endblock %}
